* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --background: #000430;
    --secbackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feefd5;
    --text-hover: #24feef;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    background-color: var(--background);
}

main {
    width: 70%;
    height: 50%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.4rem;
    padding: 1rem 1rem 0rem 1rem;
    /* overflow-y: hidden; */
    border: 2px solid var(--purple);
}

/* section first  */

section {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    border: 2px solid var(--purple);
    /* background-color: pink; */
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    overflow: hidden;
   
}

h1 {
    color: var(--text);
    font-size: 2rem;
    margin: 0 auto 0.5rem auto;
}


.task {
    width: 100%;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

input,
textarea {
    width: 100%;
    padding: 0.9rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.9rem;
    outline: none;
    border: none;
    color: var(--text);
    background: var(--secbackground);
    border: 1px solid var(--purple);
}

input:focus {
    outline: 2px solid gray;
}

#submit-btn {
    padding: 0.7rem 2rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    color: var(--text);
    background-color: var(--teal);
    transition: 0.3s ease-in;
}

#submit-btn:hover {
    background-color: var(--text-hover);
}

/* section second  */

#second-section {
    display: block;
}

.main_detail{
    max-height: 100%;
    overflow-y: auto;
}

/* Width and height */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    cursor: pointer;
  }
  
  /* Track (the background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: var(--teal);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--text-hover);
  }
  

#add-task-container {
    display: flex;
    justify-content: center;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--secbackground);
}

#task-added {
    display: flex;
    gap: 2px;
    width: 100%;
    height: 100%;
}

#task-added .task-detail {
    width: 60%;
}

#task-added .task-status {
    width: calc(100% - 60%);
}

#task-added .task-detail p {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    border-radius: 20%;
    border-bottom: 1px solid var(--purple);
}

#task-added .task-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#task-added .task-status p {
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
}

#task-added .task-status input {
    width: 22px;
    height: 22px;
    outline: none;
    cursor: pointer;
}

.task-status span .delete_icon {
    margin-left: 0.5rem;
    cursor: pointer;
}
