.main_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: beige;
}
h2{
    margin: 10px auto 20px auto;
}
#dis_count{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: 34px;
    color: white;
    background-color: rgba(128, 128, 128, 0.6);
}
#btn{
    font-size: 23px;
    padding: 10px 20px;
    margin: 2px auto;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    margin-left: 2px;
    transition: background-color .3s ease;
    cursor: pointer;
    background-color: rgba(156, 219, 78, 0.829);
}
#btn:hover{
    background-color: rgb(135, 239, 7);
}